addons/
config.cfg
SAVE/
.vs/
.vscode/
agslog.txt
*.rmf
*.map
*.rmx
*.wa_
*.max
*.prt
*.ext
*.rar
*.dem
/*.bmp
*.log
*.ztmp
logos/remapped.bmp
models/player/remapped.bmp
custom.hpk
InGameDialogConfig.vdf
ServerBrowser.vdf
voice_ban.dt
tempdecal.wad
cached.wad
*.asd
*.nod
*.nrp

# Notepad++ backups. DO NOT IGNORE .bkp FILES
*.bak

demoheader.dmf
settings.scr
user.scr
.DS_Store
buffer.dat
