body {
    background-color: white;
}

h1 {
    color: darkmagenta;
    font-size: 33px;
    text-align: center;
    font-family: 'Bahnschrift';
}

h2 {
    color: darkorange;
    font-size: 22px;
    font-family: 'Trebuchet MS';
}

h3 {
    color: darkorange;
    font-size: 21px;
    font-family: 'Trebuchet MS'
}

h4 {
    color: darkorange;
    font-size: 20.5px;
    font-family: 'Trebuchet MS';
}

p {
    color: black;
    font-size: 20px;
}

pre {
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

ul {
    color: black;
}

code {
    color: green;
    font-family: 'Consolas';
    background-color: black;
}

footer {
    color: black;
    font-family: 'Trebuchet MS';
    text-align: center;
}

table {
    color: black;
    font-family: Arial;
    text-align: center;
}

/* Custom Identifiers */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
